* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --titlecolor1: #7b5244;
    --titlecolor2: #333;
    --titlecolor3: #7c7a7a;
    --tittlecolor4: #ffb700;
}

.container {

    width: 89%;
    margin: auto;

}

.header-content {
    margin-top: 15px;
    display: flex;
    align-items: center;

}

ul li {
    list-style: none;

}

.navbar {
    justify-items: center;

}

.navbar ul {
    display: flex;
    flex-flow: row;
    margin-left: 20px;
    text-align: center;
}



.logo {
    flex: 1;

}

.navbar {
    flex: 4;
    transition: 3s;
}

.navbar ul li .link-item {

    color: var(--titlecolor2);
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;



}

.navbar ul li a {
    text-decoration: none;
    color: var(--titlecolor2);
    padding: 18px;
    display: block;
    position: relative;
}

.logn i {
    font-size: 28px;
    margin-left: 20px;
}

.logn i span {
    font-size: 18px;
    margin-left: 10px;
}

.logn i:hover {
    color: var(--titlecolor1);
    cursor: pointer;
}

.navbar ul li a:hover {
    color: var(--titlecolor1);

}

.logn i:last-child::after {
    content: "0";
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--titlecolor1);
    color: white;
    font-size: 13px;
    padding: 4px;
    border-radius: 50%;
    left: 88%;
    top: 36px;


}

section.slider img {
    width: 100%;
    margin-top: 25px;
}

.navbar ul li .link-item:before {
    content: "";
    position: absolute;
    border-width: 0 2px;
    border-color: var(--titlecolor1);
    border-style: solid;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.5s;


}

.navbar ul li .link-item:hover::before {
    transform: scale3d(1, 1, 1);
}




.navbar ul li .link-item::after {
    content: "";
    position: absolute;
    border-width: 2px 0;
    border-color: var(--titlecolor1);
    border-style: solid;
    width: 0%;
    height: 91%;
    top: 0;
    left: 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.2s;
    transform-origin: left;
}




.navbar ul li .link-item:hover::after {
    transform: scale3d(1, 1, 1);
    transition-delay: 0.6s;
    width: 101%;
}

.dropdown {
    position: relative;

}

.dropdown-menu {
    position: absolute;
    width: 500px;
    border: 2px solid var(--titlecolor1);
    padding: 5px;
    background-color: #fff;
    margin-top: 25px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    transition: transform 0.5s, visibility 0.5s;
}

.dropdown-menu ul li a {
    margin-left: 25px;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
    transform-origin: left;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a {
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px dotted var(--titlecolor1);
}

.dropdown-menu ul li {

    line-height: 0;
    font-weight: 500;
    text-align: left;
}



.ul li a {
    text-transform: capitalize;
}

.dropdown-2 {
    position: relative;
}

.dropdown-menu-2 {
    position: absolute;
    width: 200px;
    border: 2px solid var(--titlecolor1);
    margin-top: 25px;
    background-color: white;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.6s, visibility 0.6s;
}

.dropdown-menu-2 li {
    text-align: left;
    font-size: 14px;
    line-height: 0.5;

}

.dropdown-2:hover .dropdown-menu-2 {
    transform: scale(1);
    transform-origin: left;
    visibility: visible;
    opacity: 1;
}


.one {


    width: 13px;
    height: 13px;
    background: white;
    display: none;
    justify-content: center;
    position: absolute;
    left: 50%;
    display: inline-block;
    border-radius: 50%;
    top: 20px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}



.two {


    width: 13px;
    height: 13px;
    background: black;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 51.8%;
    display: inline-block;
    border-radius: 49%;
    top: 20px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.one:hover {
    background-color: black;
    position: absolute;
    top: 20px;
    justify-content: center;
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;

}

.container-3 {
    position: relative;
    top: -53px;
    width: 100%;
    height: 38px;


    transition: .3s;

}



.container:hover .one,
.container:hover .two {

    display: block;
    opacity: 1;
    visibility: visible;
}

.img-22 {
    cursor: pointer;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-family: 'system-ui', sans-serif;
    font-weight: 500;
    margin-top: 0px;

}

.oone::after {
    content: "";
    width: 75px;
    background-color: var(--titlecolor1);
    height: 2px;
    text-align: center;
    display: block;
    margin-bottom: 135px;
    margin: 20px auto 0;

    transition: width 0.4s;
}

.main {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;

}

.main i,
.main span {
    border-right: 0.1px solid #727070;
    padding-right: 5px;
}

.main span {
    color: #7c7a7a;
}

.main span:last-child {
    border-right: 0;
}

.main {
    background-color: #d8d8d8;
}

.gg {
    display: flex;
    flex: 3;
    margin-left: 25px;
}

.main-2 {
    display: flex;
    flex-flow: column;
    grid-template-columns: max-content;
    flex: 0;

}

.list-link ul li :not(.ooone) {
    list-style: none;


}

.list-link ul {

    margin-left: 50px;
    border: 1px solid #eee;

}

.list-link .ooone {
    padding: 25px;
    width: 200px;
    height: 55px;
    background-color: var(--titlecolor1);
    color: white;
    font-size: 19px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 25px;
}

.a {
    margin-left: 15px;
    padding: 10px 0;
    color: #494848;
    font-size: 15px;
    text-transform: capitalize;
}

.b {
    margin-left: 30px;
    padding: 5px 0;
    color: #494848;
    font-size: 15px;
    text-transform: capitalize;
}

.gg span {
    font-size: 25px;
    font-weight: bold;
    height: 32px;
}

.icon-header i:first-child {
    font-size: 25px;
    margin: 30px;
    margin-right: 21px;
    cursor: pointer;
    color: var(--titlecolor1);
}

.icon-header i:last-child {
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;

}

.icon-header i:last-child:hover {
    color: var(--titlecolor1);
}